# Environmental Directories
backend/__pycache__/
backend/.pytest_cache
.mongo-volume
node_modules/
database/

frontend/node_modules/

backend/tradegame_venv/

# Files
backend/.env
backend/requirements2.txt
backend/venv/
__pycache__
.DS_Store