# Environmental Directories
TG-backend/__pycache__/
TG-backend/.pytest_cache
.mongo-volume
node_modules/
database/

frontend/node_modules/

TG-backend/tradegame_venv/

# Files
TG-backend/.env
TG-backend/venv/
__pycache__
.DS_Store